{# Los "-" guiones que se ven entre las definicones de etiquetas {%- y -%} son para quitar espacios en blanco y minimizar el código generado #}
{%- macro attributes(attributes, text) -%}
    {%- import _self as links -%}
    {%- for name, value in attributes if name not in ['class', 'title', 'icon', 'type', 'size', 'default_class'] -%}
        {{- ' ' -}}{{ name }}="{{ value|escape('html_attr') }}"
    {%- endfor -%}
    {{- ' ' -}}title="{{ attributes.title|default(text) }}"
{%- endmacro -%}

{%- macro attr_class(attributes) -%}
    {%- import _self as links -%}
    class="btn btn-{{ attributes.type|default('default') }} {{ attributes.default_class|default }} {{ attributes.class|default }} {{ links.btn_size(attributes.size|default) }}"
{%- endmacro -%}

{%- macro link(url, text, attributes = []) -%}
    {%- import _self as links -%}
    <a href="{{- url -}}" {{ links.attr_class(attributes) }} {{ links.attributes(attributes, text) }}>
        {%- if attributes.icon is defined -%}{{ attributes.icon }} {% endif -%}{{- text -}}
    </a>
{%- endmacro -%}

{%- macro btn_size(size, default) -%}
    {%- set size = size|default(default) -%}
    {{- size and size != 'md' ? 'btn-'~size -}}
{%- endmacro -%}

{%- macro simple_link(url, text, attributes = []) -%}
    {%- import _self as links -%}
    <a href="{{- url -}}" {% if attributes.class is defined %}class="{{ attributes.class }}"{% endif %} {{ links.attributes(attributes, text) }}>
        {%- if attributes.icon is defined -%}{{ attributes.icon }} {% endif -%}{{- text -}}
    </a>
{%- endmacro -%}

{# Macros para botones de formulario #}
{%- macro button(text, attributes = []) -%}
    {%- import _self as links -%}
    <button type="button" {{ links.attr_class(attributes) }} {{ links.attributes(attributes, text) }}>
        {%- if attributes.icon is defined -%}{{ attributes.icon }} {% endif -%}{{- text -}}
    </button>
{%- endmacro -%}

{%- macro submit(text, attributes = []) -%}
    {%- import _self as links -%}
    <button type="submit" {{ links.attr_class(attributes) }} {{ links.attributes(attributes, text) }}>
        {%- if attributes.icon is defined -%}{{ attributes.icon }} {% endif -%}{{- text -}}
    </button>
{%- endmacro -%}

{# Macros para links con estilos de boton #}
{%- macro btn_yes(text, attributes = []) -%}
    {%- import _self as links -%}
    {#{%- from 'loyalty/icons.html.twig' import icon -%}#}
    {{- links.submit(text|default('label.yes'|trans), attributes|merge({
        type: 'primary', class: 'btn-yes',
    })) -}}
{%- endmacro -%}

{%- macro btn_no(text, type, icon, size, attributes) -%}
    {%- import _self as links -%}
    {#{%- from 'loyalty/icons.html.twig' import icon -%}#}
    {{- links.submit(text|default('label.no'|trans), attributes|merge({
        type: 'primary', class: 'btn-no',
    })) -}}
{%- endmacro -%}

{%- macro primary_link(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.link(url, text, attributes|merge({type: 'primary'})) -}}
{%- endmacro -%}

{%- macro success_link(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.link(url, text, attributes|merge({type: 'success'})) -}}
{%- endmacro -%}

{%- macro info_link(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.link(url, text, attributes|merge({type: 'info'})) -}}
{%- endmacro -%}

{%- macro warning_link(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.link(url, text, attributes|merge({type: 'warning'})) -}}
{%- endmacro -%}

{%- macro danger_link(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.link(url, text, attributes|merge({type: 'danger'})) -}}
    {{- links.btn(url, text, 'danger', null, icon, class, htmlAttributes) -}}
{%- endmacro -%}

{%- macro btn_link(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.link(url, text, attributes|merge({type: 'link'})) -}}
{%- endmacro -%}

{# Macros para botones de operaciones CRUD #}
{%- macro back(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {#{%- from 'loyalty/icons.html.twig' import icon_back -%}#}
    {{- links.link(url, text|default('btn.back'|trans), attributes|merge({
        default_class: 'btn-back',
    })) -}}
{%- endmacro -%}

{%- macro show(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {%- from 'loyalty/icons.html.twig' import icon_show -%}
    {{- links.link(url, text|default('label.show'|trans), attributes|merge({
        default_class: 'btn-show', icon: icon_show(),
    })) -}}
{%- endmacro -%}

{%- macro edit(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {%- from 'loyalty/icons.html.twig' import icon_edit -%}
    {{- links.link(url, text|default('label.edit'|trans), attributes|merge({
        default_class: 'btn-edit', icon: icon_edit(),
    })) -}}
{%- endmacro -%}

{%- macro delete(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {%- from 'loyalty/icons.html.twig' import icon_remove -%}
    {{- links.link(url, text|default('label.delete'|trans), attributes|merge({
        default_class: 'btn-delete', icon: icon_remove(),
    })) -}}
{%- endmacro -%}

{%- macro add(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {#{%- from 'loyalty/icons.html.twig' import icon_add -%}#}
    {{- links.primary_link(url, text|default('btn.add'|trans), attributes|merge({
        default_class: 'btn-add',
    })) -}}
{%- endmacro -%}

{%- macro save(text, attributes = []) -%}
    {%- import _self as btn -%}
    {#{%- from 'loyalty/icons.html.twig' import icon_save -%}#}
    {{- btn.submit(text|default('btn.save'|trans), attributes|merge({
        default_class: 'btn-save', type: 'primary'
    })) -}}
{%- endmacro -%}

{%- macro primary_action(text, attributes = []) -%}
    {%- import _self as btn -%}
    {{- btn.submit(text|default('label.save'|trans), attributes|merge({
        type: 'primary',
    })) -}}
{%- endmacro -%}

{%- macro search(text, attributes = []) -%}
    {%- import _self as btn -%}
    {%- from 'loyalty/icons.html.twig' import icon_search -%}
    {{- btn.submit(text|default('label.search'|trans), attributes|merge({
        default_class: 'btn-search', icon: icon_search(),
    })) -}}
{%- endmacro -%}

{%- macro clear_filters(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {%- from 'loyalty/icons.html.twig' import icon_clear -%}
    {{- links.link(url, text|default('btn.clear'|trans), attributes|merge({
        default_class: 'btn-clear-filters', icon: icon_clear(),
    })) -}}
{%- endmacro -%}

{%- macro link_yes(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.primary_link(url, text|default('label.yes'|trans), attributes|merge({
        default_class: 'link-yes',
    })) -}}
{%- endmacro -%}

{%- macro link_no(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.link(url, text|default('label.no'|trans), attributes|merge({
        default_class: 'link-no',
    })) -}}
{%- endmacro -%}

{%- macro redeem(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.primary_link(url, text|default('label.redeem_now'|trans), attributes|merge({
        default_class: 'link-redeem', size: 'lg',
    })) -}}
{%- endmacro -%}

{%- macro link_export(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.primary_link(url, text|default('label.export'|trans), attributes|merge({
        default_class: 'link-export',
    })) -}}
{%- endmacro -%}

{%- macro link_print(url, text, attributes = []) -%}
    {%- import _self as links -%}
    {{- links.link(url, text|default('label.print'|trans), attributes|merge({
        default_class: 'link-print',
    })) -}}
{%- endmacro -%}

{%- macro accept(text, attributes = []) -%}
    {%- import _self as btn -%}
    {{- btn.submit(text|default('btn.accept'|trans), attributes|merge({
        default_class: 'btn-accept', type: 'primary'
    })) -}}
{%- endmacro -%}

{%- macro decline(text, attributes = []) -%}
    {%- import _self as btn -%}
    {{- btn.submit(text|default('btn.decline'|trans), attributes|merge({
        default_class: 'btn-decline', type: 'default'
    })) -}}
{%- endmacro -%}