{#

  EJEMPLO DE USO:

{% embed 'dropdown.html.twig' %}

    {% from 'dropdown.html.twig' import item, divider %}
    {% block header %}Actions{% endblock %}
    {% block body %}
        {{ item('Options a') }}
        {{ item('<a>Options b</a>') }}
        {{ divider() }}
        {{ item('<a>Options c</a>') }}
    {% endblock %}
{% endembed %}

#}
<div class="dropdown">
    <a data-toggle="dropdown" class="btn btn-{{ type|default('default') }} btn-{{ size|default('sm') }}" href="#">{% block header %}{% endblock %}
        {% if caret is not defined or caret == true %}<span class="caret">{% endif %}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-{{ align|default('left') }}" role="menu" aria-labelledby="dLabel">
        {% block body %}{% endblock %}
    </ul>
</div>

{%- macro item(url, text, icon, class, attributes) -%}
    <li>
        <a href="{{ url }}" class="{{ class }}" {{ attributes|raw }}>
            {%- if icon -%}{{ icon }} {% endif -%}{{- text -}}
        </a>
    </li>
{%- endmacro -%}

{%- macro divider() -%}
    <li class="divider"></li>
{%- endmacro -%}