{% block form %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {% from '@Attribute/buttons.html.twig' import save, back %}

    {{ form_start(form) }}

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Informaci&oacute;n B&aacute;sica</a></li>
        <li role="presentation"><a href="#config" aria-controls="profile" role="tab" data-toggle="tab">Configuration</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <fieldset  >
                <div  class='row'>
                    <div class="col-sm-6">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.presentation) }}
                    </div>
                </div>
            </fieldset>
            <fieldset  >
                <div  class='row'>
                    <div class="col-sm-6">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.targetEntity) }}
                    </div>
                </div>
            </fieldset>
            <fieldset  >
                <div  class='row'>
                    <div class="col-sm-6">
                        {{ form_row(form.region) }}
                    </div>
                </div>
            </fieldset>
            <fieldset  >
                <div  class='row'>
                    <div class="col-sm-6">
                        {{ form_row(form.active) }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div role="tabpanel" class="tab-pane" id="config">
            <fieldset  >
                <div  class='row'>
                    <div class="col-sm-6">
                        {{ form_row(form.configuration) }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    {{ form_widget(form) }}
    {% block form_actions %}
        {{ save('Save') }}
        {{ back(path('attributes_list'), 'Back') }}
    {% endblock %}
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
    <script>
        $(function () {
            if (typeof ace == 'undefined') {
                return;
            }

            {% set editor_id = form.vars.id~'-editor' %}
            var $content = $("#{{ form.configuration.vars.id }}").hide();
            var $editor = $("<div />", {
                id: '{{ editor_id }}',
            }).css({
                width: '100%',
                height: '400px',
            });
            $content.after($editor);
            var editor = ace.edit('{{ editor_id }}');
            editor.setValue($content.val(), 1);
            var editorSession = editor.getSession();
            editor.setTheme("ace/theme/twilight");
            editorSession.setMode("ace/mode/yaml");
            editorSession.on('change', function () {
                $content.val(editorSession.getValue());
            });
        });

    </script>
{% endblock %}
