{% extends '@GbenitezAttribute/base.html.twig' %}

{% block page_header %}Lista de Attributes{% endblock %}
{% block page_header_right %}
    <a href="{{ path('gbenitez_attribute_new') }}" class="btn btn-primary" id="add-translation">
        <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>Agregar
    </a>
{% endblock %}
{% block content %}

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Presentation</th>
                <th>Type</th>
                <th>Target Entity</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in attributes %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.presentation }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.targetEntity }}</td>
                    <td>{% if item.active %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
                    <td>{{ block('row_actions') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block row_actions %}
    <a href="{{ path('gbenitez_attribute_edit', {id: item.id}) }}" class="btn btn-sm btn-primary">
        Editar
    </a>
{% endblock %}
