{%- block attributes_row -%}
    {%- for field in form -%}
        {{ form_row(field) }}
    {%- endfor -%}
{%- endblock -%}

{%- block attribute_value_row -%}
    <div class="form-group attribute-form-row
    {#-{%- if (not compound or force_error|default(false)) and not valid %} has-error{%- endif -%}-#}
    {%- if not valid %} has-error{%- endif -%}
    {{- container_class ? ' '~container_class -}}
    " id="{{- id }}_container">
        {{- block('attribute_value_row_content') -}}
    </div>
{%- endblock -%}

{%- block attribute_value_row_content -%}
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock -%}

{%- block attribute_value_widget -%}
    {{- form_widget(form.value) -}}
    {{- block('attribute_value_javascript') -}}
{%- endblock -%}

{%- block attribute_value_label -%}
    {#{% dump _context %}#}
    {{- form_label(form.value, label, {"attr": label_attr|default({})}) -}}
{%- endblock -%}

{%- block attribute_value_javascript -%}
    {%- if _attribute.javascriptCode is not empty -%}
        {{ include('@Attribute/_attribute_javascript.html.twig', {
            context: 'form',
            attribute: _attribute,
        }) }}
    {%- endif -%}
{%- endblock -%}