{%- block attributes_row -%}
    {%- for field in form -%}
        {{ form_row(field) }}
    {%- endfor -%}
{%- endblock -%}

{%- block attribute_value_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}"
         id="{{ id }}_container">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock -%}

{%- block attribute_value_widget -%}
    {#{% dump attr %}#}
    {{- form_widget(form.value, {"attr": attr|merge({'data-attribute-name': _attribute.name})}) -}}
    {{- block('attribute_value_javascript') -}}
{%- endblock -%}

{%- block attribute_value_label -%}
    {#{% dump _context %}#}
    {{- form_label(form.value, label, {"attr": label_attr|default({})}) -}}
{%- endblock -%}

{%- block attribute_value_javascript -%}
    {%- if _attribute.javascriptCode is not empty -%}
        <script>
            (function (document) {
                var container = document.querySelector('#{{ id }}_container');
                var input = document.querySelector('#{{ form.value.vars.id }}');
                var label = document.querySelector('[for="{{ form.value.vars.id }}"]');

                function getAttrField(id) {
                    return document.querySelector('[data-attribute-name="' + id + '"]');
                }

                {{ include(template_from_string(_attribute.javascriptCode), {
                    'id': form.value.vars.id
                }, false) }}

                window.getAttrField = getAttrField;
            })(document);
        </script>
    {%- endif -%}
{%- endblock -%}