{%- block attributes_row -%}
    {%- for field in form -%}
        {{ form_row(field) }}
    {%- endfor -%}
{%- endblock -%}

{%- block attribute_value_row -%}
    <div class="form-group attribute-form-row
    {#-{%- if (not compound or force_error|default(false)) and not valid %} has-error{%- endif -%}-#}
    {%- if not valid %} has-error{%- endif -%}
    {{- container_class ? ' '~container_class -}}
    " id="{{- id }}_container">
        {{- block('attribute_value_row_content') -}}
    </div>
{%- endblock -%}

{%- block attribute_value_row_content -%}
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock -%}

{%- block attribute_value_widget -%}
    {{- form_widget(form.value) -}}
    {{- block('attribute_value_javascript') -}}
{%- endblock -%}

{%- block attribute_value_label -%}
    {#{% dump _context %}#}
    {{- form_label(form.value, label, {"attr": label_attr|default({})}) -}}
{%- endblock -%}

{%- block attribute_value_javascript -%}
    {%- if _attribute.javascriptCode is not empty -%}
        <script>
            jQuery(function ($) {
                var $input = $('#{{ form.value.vars.id }}');
                var $label = $('[for="{{ form.value.vars.id }}"]');

                {{ include(template_from_string(_attribute.javascriptCode), {
                    'id': form.value.vars.id
                }, false) }}
            });
        </script>
    {%- endif -%}
{%- endblock -%}